<% @tweets.each do |e| %>
    <p>
        <%= e.message %>
        <%= (Time.current - e.tdate).to_i / 60.0 %>分前
        <%= link_to '削除',tweet_path(e.id),method: :delete %>
        
        <% if current_user %>
            <% if e.likes.count == 0 %>
                <%= link_to 'いいね', likes_path(tweet_id: e.id), method: :post %>
            <% else %>
                <%=link_to 'いいね削除', like_path(e), method: :delete %>
            <% end %>
        <% end %>
    </p>
<% end %>

<% if current_user %>
    <%= link_to '新規追加',new_tweet_path %>]
<% else %>
    <%= link_to 'ログイン', top_main_path %>
<% end %>


